[View in Colaboratory](https://colab.research.google.com/github/ngodinhvu/hello_world/blob/master/odoo_sale_performance.ipynb)

In [0]:
#Query to select data
#============================================================================================#        
import pandas as pd
import psycopg2 as pg
from datetime import datetime, timedelta
date_start='2018-06-01 00:00:00'
date_end='2018-06-30 23:59:59'
date_start_last_month='2018-05-01 00:00:00'
date_end_last_month='2018-05-31 23:59:59'
get_data_this_month = '''
SELECT
                temp.user_id,
                temp.saleperson,
                temp.week,
                COUNT(DISTINCT temp.order_id) order_number,
                SUM(amount_total) rev_this_month,
                COUNT(DISTINCT re_order) total_reorder,
                SUM(Man_product) / Nullif(SUM(total_product),0) as Man_product_ratio,
                COUNT( DISTINCT CASE WHEN temp.status like 'RETURN%%' THEN temp.status ELSE null END) as total_return,
                COUNT( DISTINCT CASE WHEN temp.status like 'CHANGE%%' THEN temp.status ELSE null END) as total_change
            FROM
                (SELECT
                    so.user_id,
                    rp.name as saleperson,
                    line.order_id,
                    (date(so.date_order) - date('%s')-1)/7+1::int week,
                    line.price_unit*line.product_uom_qty as amount_total,
            --        line.product_uom_qty as total_product,
                    CASE
                        WHEN line.product_uom_qty > 0 THEN line.product_uom_qty
                        ELSE 0
                    END as total_product,
                    CASE
                        WHEN so.medium_id IN (SELECT id FROM crm_tracking_medium WHERE name like 'Return%%') THEN so.id
                        ELSE NULL
                    END as re_order,    
                    CASE 
                        WHEN (pp.default_code like 'M%%' AND line.product_uom_qty > 0) THEN line.product_uom_qty
                        ELSE 0
                    END as Man_product,
                    CASE 
                        WHEN  left(so.name,strpos(so.name,'-')-1) IN (SELECT
                            left(so.name,strpos(so.name,'-')-1)
                            --SUM(line.price_unit*line.product_uom_qty) as amount_total
                            from sale_order as so
                            INNER JOIN sale_order_line as line ON line.order_id = so.id
                            INNER JOIN product_product as pp ON pp.id = line.product_id
                            INNER JOIN product_template as pt ON pt.id = pp.product_tmpl_id
                            WHERE
                            pt.type NOT LIKE 'service%%'
                            AND so.name LIKE '%%-%%'
                            GROUP BY 1
                            HAVING -sum(line.product_uom_qty) = count(line.product_uom_qty) )THEN 'RETURN'||left(so.name,strpos(so.name,'-')-1)
                        WHEN left(so.name,strpos(so.name,'-')-1) IN (SELECT
                            left(so.name,strpos(so.name,'-')-1)
                            --SUM(line.price_unit*line.product_uom_qty) as amount_total
                            from sale_order as so
                            INNER JOIN sale_order_line as line ON line.order_id = so.id
                            INNER JOIN product_product as pp ON pp.id = line.product_id
                            INNER JOIN product_template as pt ON pt.id = pp.product_tmpl_id
                            WHERE
                            pt.type NOT LIKE 'service%%'
                            AND so.name LIKE '%%-%%'
                            GROUP BY 1
                            HAVING -sum(line.product_uom_qty) != count(line.product_uom_qty) )THEN 'CHANGE'||left(so.name,strpos(so.name,'-')-1)
                        ELSE Null
                    END as status
        
                FROM
                    sale_order so
                    INNER JOIN res_users ru ON ru.id = so.user_id
                    INNER JOIN res_partner rp ON rp.id = ru.partner_id
                    INNER JOIN sale_order_line line ON line.order_id = so.id
                    INNER JOIN product_product pp ON pp.id = line.product_id
                WHERE
                    so.date_order BETWEEN '%s' AND '%s'
                    AND (so.section_id NOT IN (select id from crm_case_section where name like 'Dir%%') or so.section_id IS NULL)
                    AND so.state != 'cancel') as temp
            GROUP BY
                1,2,3
'''%(date_start, date_start, date_end)
get_data_last_month='''
            SELECT
                so.user_id,
                SUM(so.amount_total) revenue_last_month
                
            FROM
                sale_order so
            WHERE
                so.date_order BETWEEN '%s' AND '%s'
                AND so.state != 'cancel'
                AND (so.section_id NOT IN (select id from crm_case_section where name like 'Dir%%') or so.section_id IS NULL)
            GROUP BY
                1
            '''%(date_start_last_month, date_end_last_month)
get_feeship_this_month = '''
    SELECT
        so.user_id,
        SUM(so.fee_ship) total_shipping_fee

    FROM
        sale_order so
    WHERE
        so.date_order BETWEEN '%s' AND '%s'
        AND so.state != 'cancel'
        AND (so.section_id NOT IN (select id from crm_case_section where name like 'Dir%%') or so.section_id IS NULL)
    GROUP BY
        1
    '''%(date_start, date_end)
get_SO2_data = '''
    SELECT
        temp.user_id,
        COUNT(CASE WHEN temp.number_product > 1 THEN 1 ELSE NULL END) as more_than_2pcs
    FROM
        (SELECT
            so.id,
            so.user_id,
            COUNT(line.id) as number_product
        FROM 
            sale_order as so
        INNER JOIN sale_order_line as line ON line.order_id = so.id
        INNER JOIN product_product as pp ON pp.id = line.product_id
        INNER JOIN product_template as pt ON pt.id = pp.product_tmpl_id
        WHERE
            so.date_order BETWEEN '%s' AND '%s'
            AND so.state != 'cancel'
            AND pt.type NOT LIKE 'service%%'
            AND (so.section_id NOT IN (select id from crm_case_section where name like 'Dir%%') or so.section_id IS NULL)
        GROUP BY
            1,2) as temp
    GROUP BY
        1
'''%(date_start, date_end)
get_info_customer = '''
    SELECT
        r.create_uid,
        Count(DISTINCT r.id) as Soluonglaytt
    FROM
        res_partner r
    WHERE
        r.create_date BETWEEN '%s' AND '%s'
        AND r.phone IS NOT NULL
        AND r.email IS NOT NULL
        AND r.birthdate_date IS NOT NULL
    GROUP BY
        1
    '''%(date_start, date_end)
#Query data from server
#============================================================================================# 
engine = pg.connect('postgresql://odoo:odoo@host/database')
df = pd.read_sql(get_data_this_month,engine)
df1 = pd.read_sql(get_data_last_month,engine)
df2 = pd.read_sql(get_feeship_this_month,engine)
df3 = pd.read_sql(get_SO2_data,engine)
df4 = pd.read_sql(get_info_customer,engine)

#Preprocessing with pandas
#============================================================================================#        
list_of_week = set(df['week'])
result = pd.concat([df.groupby(['user_id'])['order_number', 'total_reorder', 'rev_this_month', 'total_return', 'total_change'].sum(),
                   pd.DataFrame(df.groupby(['user_id'])['man_product_ratio'].mean()),
                   df[['user_id', 'saleperson', 'week', 'rev_this_month']].pivot(index='user_id', columns='week', values='rev_this_month').fillna(0)
                   ],
                   axis=1, join='inner')
result = df[['user_id', 'saleperson']].drop_duplicates().set_index('user_id').join(result)
result = result.join(df1.set_index('user_id'))
result = result.join(df2.set_index('user_id'))
result = result.join(df3.set_index('user_id'))
result = result.join(df4.set_index('create_uid'))

#Caculate some columns
#============================================================================================#         
result['AOV'] = (result['rev_this_month']/ result['order_number']).astype(int)
result['>2pcs ratio'] = (result['more_than_2pcs']/ result['order_number'])
result['average_shipping_fee'] = (result['total_shipping_fee']/ result['order_number'])
result['reorder_ratio'] = (result['total_reorder']/ result['order_number'])
result['month_over_month'] = (result['rev_this_month']/ result['revenue_last_month'])
result = result.drop(['more_than_2pcs','total_shipping_fee'], axis=1)
cols = ['saleperson','order_number','total_reorder','revenue_last_month','rev_this_month', 'month_over_month',
        'reorder_ratio', 'total_return', 'total_change', '>2pcs ratio', 'man_product_ratio', 'AOV', 'average_shipping_fee',
        'soluonglaytt']
i = 4
for week in list_of_week:
    cols.insert(i, week)
    i += 1
result = result[cols]
result.rename({'1':'Rev_week_1', '2':'Rev_week_2', '3':'Rev_week_3', '4':'Rev_week_4', '5':'Rev_week_5'})
#Export data to direct path
#============================================================================================#
#***************************change when up to server*****************************************#      
out_path = '/tmp/%s.xlsx'%(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
writer = pd.ExcelWriter(out_path , engine='xlsxwriter',options={'strings_to_numbers': True})#,options={'strings_to_number': True}
result.to_excel(writer,'Final_report')

#Condition formating
#----------------------------#
workbook  = writer.book
worksheet = writer.sheets['Final_report']
red_format = workbook.add_format({'bg_color': '#FFC7CE',
                       'font_color': '#9C0006'})

worksheet.conditional_format('E2:E%s'%(result.shape[0]+2), {'type': '3_color_scale'})
worksheet.conditional_format('Q2:Q%s'%(result.shape[0]+2), {'type':     'cell',
                                                            'criteria': '<',
                                                            'value':    0.75,
                                                            'format':   red_format})        
#number format
#----------------------------#
format1 = workbook.add_format({'num_format':'#,##0.00'})
format2 = workbook.add_format({'num_format':0x09})

worksheet.set_column('E:E', 15, format1)
worksheet.set_column('G:G', 15, format1)
worksheet.set_column('H:H', 15, format1)
worksheet.set_column('I:I', 15, format1)
worksheet.set_column('J:J', 15, format1)
worksheet.set_column('K:K', 15, format1)
worksheet.set_column('M:M', 15, format1)
worksheet.set_column('F:F', 13, format2)    
worksheet.set_column('L:L', 13, format2)
worksheet.set_column('N:N', 13, format2)
worksheet.set_column('O:O', 13, format2)

#Header format
#----------------------------#
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1})

# Write the column headers with the defined format.
#----------------------------#
for col_num, value in enumerate(result.columns.values):
    worksheet.write(0, col_num + 1, value, header_format)
worksheet.set_row(1, None, None, {'hidden': False})

df.to_excel(writer,'Raw_data_rev_thisM')
df1.to_excel(writer,'Raw_data_rev_lastM')
df1.to_excel(writer,'Raw_data_shipping_fee')
worksheet.write(result.shape[0]+2, 4, '=SUM(E3:E%s)'%(result.shape[0]+2), format1)
writer.save()